/*
COLOR PALETTE

yellow shade  #d4ae25 
Sandy beige   #bcaa96
Dark gray     #222222
Light gray    #d3d4d6
Off-white     #f6f6f6
*/


/* GLOBAL STYLES 
------------------------------------*/
/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/


body, html, #app {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* canvas {
  width: 100%;
  height: 100%; 
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; 
  /* if you want the text on top of it then change it into postitive. if not change it to background which is negative value (so that can see the text) 
  /* pointer-events: none;  
  }  
  
/* #scene-container {
  /* background-color: black;*/
  /* width: 800px; 
  height: 1000px; 
  margin: 20 auto;  */
  /* color: aliceblue; } */

/* 
#scene-container p{
margin: 20px ;

} */

/* three.js */
/* Global styles */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#scene-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;  /* Put the Three.js scene behind other content */
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

/* Content wrapper to position content above the Three.js scene */
.content-wrapper {
  position: relative;
  z-index: 1; 
   /* Ensure content is above the Three.js scene */
  /* padding: 30px; */
  /* color: white; */
  /* text-align: center; */
}

/* Header and navigation */
/* header {
  background-color: #222;
  padding: 10px;
} 

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 0;

} */

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px; 

} 

/* Footer
footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 10px;
}

footer a {
  color: white;
  text-decoration: none;
} */





/* 
======================== */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  margin: 0; 
} 
/* this give grey color background in the bottom */
/* body {
  background: #f6f6f6; 
} */

/* links */
a {
  color: #03245c;
}
a:hover {
  color: grey;   
  text-decoration: none;
}
footer a{
   color: #ffffff; 
}

footer a:hover {
   color: rgb(169, 169, 169); 
}

.btn { 
background: #3c8453;
color:#f6f6f6; 
text-decoration: none; 
}

.content-wrapper {
 
margin: 0 auto;
padding: 30px; 
max-width: 900px; 

}



/* HOME
------------------------------------*/
.home {
  /* background:url(../imagesfolder/laptop.jpg)no-repeat;  */
  background-color:#03245c;
  background-size: cover; 
  display: flex;
  flex-direction: column;
}

.home .content-wrapper {
flex: 1 0 auto; 

}


.content-bg {
background: rgb(255 255 255 / 0.9);
padding: 30px; 
}


#wrapper {
  columns: 2;
  width: 1000px;
  /* margin-left: 240px; */
  
  }
  

nav {
align-items: right;
/* margin-left: 170px ; */
/* margin-top: -40px; */
}

nav li { 
  align-items: right; 
  display: inline-block; 
  height: 50px; 
}

nav ul { 
width:100%; 
list-style: none;
display: flex;
justify-content: flex-end;
align-items: center;

}

nav a {
  height: 100%;
  width: 100px; 
  /* padding: 0 40px; 
  margin-right: -10px;
  margin-top: 50px; */
  text-decoration: none;
  display: flex;
  align-items: center;
}


/* Set full-screen container for particles */
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;  /* Ensure particles are behind the content */
}

/* Content styling */
.content-wrapper {
  position: relative;
  z-index: 1;  /* Ensure content is above particles */
  padding: 30px;

  /* text-align: center; */
}

/* 
nav a:hover{

} */




/* RESUME
------------------------------------*/
.imageontop image{
width: 100%;
height: 30%;

}

 #wrapper  {
margin-top: -100px;
background:#03245c;
width: 100%; 
height: 100px; 
} 


.name h1{ 
color:rgb(255, 255, 255); 
padding-left: 280px;
padding-top: 20px;
display: block;

}

nav {
padding-top: 30px;

}


.column1{
/* width: 33.33%; */
height: 250px;
columns: 200px;
width: 170px;
margin: 30px;
display: block;
}

/* .Project1 {


} */


.project .image img{
    float: left; 
    margin-block: 10px;
    
  }
  

/* top image */
.resume header::before { 
  /* background: url(../imagesfolder/laptop.jpg) center;  */
  background-size: cover;
  content: "";
  display: block;
  height: 375px;
  z-index: -1; 


  
}

.resume-section  {
 margin-bottom: 60px; 

}

/* .resume-section h2 {
  /* border-bottom: 2px dashed #d3d4d6; 
} */

/* .work-details h2{
margin-top: 30px;

} */ 

.download-link {
  position: fixed;
  top: 5px; 
  left: 5px; 

}

.project-item li{
margin: 10px, 0, 0, 0; 

}






/* Profile 
------------------------------------*/
.imageontop img{
  width: 100%;
  height: 30%;
  
  }
  



/* Projects
------------------------------------*/
.Project {
width: 100%; 
margin-left: -90px;

}

.Project-item {
  display: flow-root; 
  margin: 10px 0;

}

/* text */
.grid-container {  
  display: grid;
  grid-template-columns: auto auto;
  /* background-color: #2196F3; */
  padding-right: 10px;
  width: 1000px;
  height: 400px;
  /* align-items: center; */

} 
/* Images */
.grid-container img {
width: 500px; 
height: 300px; 



}


.grid-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  margin-left: 20px;
  width: 250px;
  height: 900px;
  /* border: 1px solid rgba(0, 0, 0, 0.8); */ 
  padding-top: 30px;
  font-size: 30px;
  /* text-align: center; */
}

.grid-item img {
width:370px;
height:400px; 
margin-right: 120px;
justify-content: space-between;
display: flex;

}

.paragraph b {
margin: 0, 10px, 10px, 10px;
}

/* text paragraph */
.paragraph {
width: 450px;
height: 300px;
margin-left: 300px;
padding-top: 70px;
align-items: center;
font-size: 20px; 
}







/* Work Experience
------------------------------------*/

.work-item {
display: grid;
grid-template-columns: 300px 1fr;
column-gap: 20px;
}

.work-summary { 
margin: 50px 0 0 0;

}

/* Education
------------------------------------*/




/* Contact Page
------------------------------------ */
.homeA {
background-color: white;

}

.content-bg {
 align-content: center; 
 margin-top: 100px; 
 
}

/* Content wrapper to position content above the Three.js scene */
.content-wrapperA {
  position: relative;
  z-index: 1; 
  padding-top: 100px;
 
}

#scene-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;  /* Put the Three.js scene behind other content */
}

#wrapper1 {
width: 100%;
height: 100%;  
background-color: none;
}

.content-wrapper h1{
margin-right: 100px; 


}


  
  
  /* FOOTER 
  ------------------------------------*/


  footer {
  
    background: #222; 
    color:#d3d4d6;
    display: flex; /* in a row */
    justify-content: space-between;
    padding: 0 20px; 
    }
    
  footer p {
    padding-left: 50px; 

  }

    .socials {
    list-style-type: none;
    padding: 0; 
    
    }
    
    .socials li {
      display: inline-block;
      margin-left: 50px;
      }
    
    .socials img {
    width: 32px;
    
    }
    
    .socials img:hover{
     opacity: 0.5;
    
    }
    
    
    
    
  

