/*
COLOR PALETTE

Dark green    #3c8453
Sandy beige   #bcaa96
Dark gray     #222222
Light gray    #d3d4d6
Off-white     #f6f6f6
*/

/* GLOBAL STYLES 
------------------------------------*/
/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/


body, html, #app {
  margin: 0;
  width: 100%;
  height: 100%;
}

#app {
  overflow: hidden;
  touch-action: pan-up;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-shadow: 0 0 5px #ffffff, 0 0 20px #000, 0 0 30px #000;
}

#app h1 {
  --fontSize: 60px;
  --lineHeight: 80px;
  width: auto;
  height: calc(2 * var(--lineHeight));
  line-height: var(--lineHeight);
  margin: calc(50vh - var(--lineHeight)) auto 0;
  font-size: var(--fontSize);
}

#app a {
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

#app canvas {
  display: block;
  position: fixed;
  z-index: -1;
  top: 0;
}







/* 
======================== */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  margin: 0; 
} 

body {
  background: #f6f6f6; 
}

/* links */
a {
  color:#3c8453;  
}
a:hover {
  color:#bcaa96;  
  text-decoration: none;
}
footer a{
   color: #bcaa96; 
}

footer a:hover {
   color: #3c8453; 
}

.btn { 
background: #3c8453;
color:#f6f6f6; 
text-decoration: none; 
}

.content-wrapper {
 
margin: 0 auto;
padding: 30px; 
max-width: 900px; 


}



/* HOME
------------------------------------*/
.home {
  background:url(../imagesfolder/laptop.jpg)no-repeat; 
  background-size: cover; 
  display: flex;
  flex-direction: column;
}

.home .content-wrapper {
flex: 1 0 auto; 
}


.content-bg {
background: rgb(255 255 255 / 0.9);
padding: 30px; 
}


#wrapper {
  columns: 2;
  width: 1000px;
  margin-left: 130px;
  }
  
nav {
align-items: right;
/* margin-left: 170px ; */
}

nav li { 
  align-items: right; 
  display: inline-block; 
  height: 50px; 
}

nav ul { 
width:100%; 
list-style: none;
display: flex;
justify-content: flex-end;
align-items: center;

}

nav a {
  height: 100%;
  width: 100px; 
  padding: 0 40px; 
  margin-right: -10px;
  margin-top: 50px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

/* 
nav a:hover{

} */


/* RESUME
------------------------------------*/
/* #wrapper h1 {


} */

/* .image {


} */

.column{
/* width: 33.33%; */
height: 250px;
columns: 200px;
width: 500px;
margin: 30px;
}


.image img{
    /* float: left; */
    width: 150px;
    /* width: 200px; */
    /* padding: 10px; */
    height: 100px; 
    margin-block: 10px;
    
  }
  

/* top image */
.resume header::before { 
  background: url(../imagesfolder/laptop.jpg) center; 
  background-size: cover;
  content: "";
  display: block;
  height: 375px;
}

.resume-section  {
 margin-bottom: 60px; 

}

.resume-section h2 {
  border-bottom: 2px dashed #d3d4d6;


}

/* .work-details h2{
margin-top: 30px;

} */ 

.download-link {
  position: fixed;
  top: 5px; 
  left: 5px; 

}

.project-item li{
margin: 10px, 0, 0, 0; 

}






/* Profile 
------------------------------------*/




/* Projects
------------------------------------*/


.Project-item {
  display: flow-root; 
  /* margin: 10px 0;*/
}

.grid-container { 
  display: grid;
  grid-template-columns: auto auto;
  /* background-color: #2196F3; */
  padding: 20px;
  width: 80px;
  /* height: 300px; */
  /* align-items: center; */
} 



.grid-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  margin-left: 20px;
  width:200px;
  /* height: 100px; */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */ 
  /* padding-top: 20px; */
  font-size: 30px;
  /* text-align: center; */
}

.grid-item img {
width:210px;
/* height:150px;  */
margin: 10px;

}

.paragraph b {
margin: 0, 10px, 10px, 10px;

}


.paragraph {
width: 450px;
height: 150px;
margin-left: 100px;
align-items: center;
}



/* Work Experience
------------------------------------*/

.work-item {
display: grid;
grid-template-columns: 300px 1fr;
column-gap: 20px;
}

.work-summary { 
margin: 50px 0 0 0;

}

/* Education
------------------------------------*/







/* Contact Page
------------------------------------ */

.container {
display: block;
align-content: center;
width: 900px;
margin-left: 160px; 
margin-bottom: 40px; 
font-family: Arial, Helvetica, sans-serif; 
border-radius: 20px;
background-color:#ccc;
padding: 30px;  

}


input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  box-sizing: border-box;
  border-radius: 20px; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;


} 

/* submit button */
input[type=submit] { 
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

/* submit button */
input[type=submit]:hover {
  background-color: black;

}


/* FOOTER 
------------------------------------*/
footer {
background: #222; 
color:#d3d4d6;
display: flex; /* in a row */
justify-content: space-between;
padding: 0 20px; 
}

.socials {
list-style-type: none;
padding: 0; 

}

.socials li {
  display: inline-block;
  margin-left: 10px;
  }

.socials img {
width: 32px;

}

.socials img:hover{
 opacity: 0.5;

}


